.header{
  width: 100vw;
  height: 10vh;
  background-color: rgb(17, 194, 238);
  color: rgb(19, 18, 18);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar{
  width: 100vw;
  height: 10vh;
  background-color: rgb(0, 119, 128);
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
}

.footer{
  width: 100vw;
  height: 6vh;
  background-color: rgb(0, 77, 128);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.home{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: auto;
}

.item h2{
  color: red;
  padding: 5px;
}

.item h3{
  color: green;
  padding: 5px;
}

.btn{
  background-color: black;
  color: white;
  height: 50px;
  width: 120px;
  font-size: 20px;
}

